<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HogarYA - Sistema Inmobiliario</title>
</head>
<body>

<h1>HogarYA - Sistema Inmobiliario</h1>

<p>Trabajo Práctico Integrador - Actividad 03</p>

<ul>
    <li><a th:href="@{/personas}">Gestión de Personas</a></li>
    <li><a th:href="@{/propiedades}">Gestión de Propiedades</a></li>
    <li><a th:href="@{/publicaciones}">Gestión de Publicaciones</a></li>
    <li><a th:href="@{/contratos}">Gestión de Contratos</a></li>
</ul>

</body>
</html>